.eligiblity{
    margin-left: 30px;
    margin-right: 30px;
}

.eligiblity h2{
    font-weight: 500;
    margin-left: 20px;
}

.benefits{
    margin-left: 30px;
    margin-right: 30px;
}

.benefits p{
    margin-left: 30px;
}
.benefits h2{
    font-weight: 500;
    margin-left: 20px;
}

.documents{
    margin-left: 30px;
    margin-right: 30px;
}

.documents h2{
    font-weight: 500;
    margin-left: 20px;
}

.documents p{
    margin-left: 30px;
}