
<div class="d" >
    <header  style="background-color: #ADC4CE;">
      <section class="headertop">
        <div class="container" >
          <div class="row">
            <div class="ol-lg-1 col-md-2 col-sm-1 col-xs-1">
              <img src="assets/cumminslogo.png" alt="logo.png" style="height: 140px;width: 150px;">
          </div>
            <div class="col-lg-8 col-md-8 col-sm-2 col-xs-2">
                <h1 class="text-center" style="background-color: #ADC4CE;color: black;">Scholarship Portal</h1>
                <h4 class="text-center"> MKSSS'S Cummins College of Engineering for Women, Pune</h4>
                <h6 class="text-center">
                    <strong class="announcementText">
                        (Academic Year 2023-24)
                    </strong>
                </h6>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <img src="assets/logo.png" alt="logo.png" style="height:150px;width: 150px;">

            </div>
          </div>
        </div>
        <div class="scroll-container">
          <div class="scrolling-text">
           Your data is confidential and will not be shared; we prioritize its security and ensure its safe preservation
          </div>
        </div>
      </section>
        
      </header>
    <button class="dropbtn"><a routerLink="grid" style="text-decoration:none;color: white; width: 50px;">Home</a></button>
      
  <div class="dropdown">

    <button class="dropbtn">Applicant Corner</button>
    <div class="dropdown-content">
      <a routerLink="/stepper">New Registration</a>
      <a routerLink="/student-login">Login</a>
    </div>
  </div>
  
<div class="dropdown">
  <button class="dropbtn2">Company Corner</button>
  <div class="dropdown-content">
    <a routerLink="/company-registration">New Registration</a>
    <a routerLink="/company-login">Login</a>
  </div>
</div>

    <button class="dropbtn"><a routerLink="/admin-login" style="text-decoration:none;color: white;">Admin Corner</a></button>
    <!-- <a routerLink="/admin" style="color: black;padding: 12px 16px;text-decoration: none;display: block;">Admin Corner</a> -->
    
    <button class="dropbtn"><a href="#abt" style="text-decoration:none;color: white; width: 50px;">About Us</a></button>
    <!-- <button class="dropbtn"><a routerLink="/about" style="text-decoration:none;color: white;">About Us</a></button> -->
    
  </div>

   
   
    
  