<mat-card-title><h2>COMPANY LOGIN</h2></mat-card-title>

<div class="login-container2">
  <!-- <mat-card class="login-card"> -->
    <div class="login-container">
      <mat-card class="login-card">
        <mat-card-content>
          
          <form class="example-form">
            <mat-form-field class="example-full-width" style="width: 100%;">
              <mat-label>Company ID</mat-label>
              <input matInput required name="username" placeholder="Username" >
            </mat-form-field>
          </form>  

          <form class="example-form">
              <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput required [type]="hide ? 'password' : 'text'" name="password" id="psw" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </form>  

            
          <button mat-button name="next" style="width: 40%;margin-left: 30%;">Next</button>
          </mat-card-content>
      </mat-card>
  </div>
  <!-- </mat-card> -->
  </div>
  <app-footer></app-footer>

