<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<mat-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup" errorMessage="All fields are manditory.">
      <form [formGroup]="firstFormGroup" style="margin-top: 50px;">
        <ng-template matStepLabel>Registration Details</ng-template>

        <div class="login-container">
            <mat-card class="login-card">
              <mat-card-content>
                
                <form class="example-form">
                  <mat-form-field class="example-full-width" style="width: 100%;">
                    <mat-label>C-Number</mat-label>
                    <input matInput required name="username" #username placeholder="C-Number" value="C" >
                  
                  </mat-form-field>
                </form>  
                
                <form class="example-form">
                  <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput required [type]="hide ? 'password' : 'text'" name="password" id="password" #password pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                </form>  
                
                <form class="example-form">
                  <mat-form-field class="example-full-width">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput required [type]="hide2 ? 'password' : 'text'" name="confirm" id="confirm" errorMessage="All fields are manditory." #confirm pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                    <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                      <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                </form>  
               
                    <button mat-button  name="next" (click)="onSubmit(username.value,password.value,confirm.value)" style="width: 40%;margin-left: 30%;">Next</button>
                </mat-card-content>
            </mat-card>
        </div>
    </form>
    
</mat-step>

    <mat-step [stepControl]="secondFormGroup" errorMessage="All fields are manditory.">
      <form [formGroup]="secondFormGroup" style="margin-top: 50px;"> 
        <ng-template matStepLabel>General Information</ng-template>

        <div class="form-container" style="width: 80%;margin-left: 10%;">
           
            <mat-form-field class="form-group" style="width: 30%;">
              <mat-label>Full Name</mat-label>
              <input matInput type="text" name="fullname"required >
            </mat-form-field>
        
            <mat-form-field class="form-group" style="margin-left: 20px;width: 30%;">
              <mat-label>Father's Name</mat-label>
              <input matInput type="text" name="fname"required >
            </mat-form-field>
        
            <mat-form-field class="form-group" style="width: 30%;margin-left: 20px;">
              <mat-label>Mother's Name</mat-label>
              <input matInput type="text" name="mname"required>
            </mat-form-field>

            <mat-form-field class="form-group" style="width: 30%;">
                <mat-label>Father's Profession</mat-label>
                <input matInput type="text" name="fProfession"required >
              </mat-form-field>

            <mat-form-field class="form-group" style="width: 30%;margin-left: 20px;">
                <mat-label>Mother's Profession</mat-label>
                <input matInput type="text" name="mProfession"required>
              </mat-form-field>
        
               <!-- <mat-form-field class="form-group">
              <mat-label>Aadhaar Number</mat-label>
              <input matInput type="text" name="aadhaarNumber"required>
            </mat-form-field> -->
        
            <mat-form-field class="form-group" style="margin-left: 20px;width: 30%;">
              <mat-label>Email</mat-label>
              <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. abcd@example.com" name="email">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                <!-- Email is <strong>required</strong> -->
              </mat-error>
            </mat-form-field>
        
            <mat-form-field name="domacile" style="height: fit-content;width: 30%;" class="form-group">
                <mat-label>State of Domacile </mat-label>
                <mat-select required>
                  <mat-option value="option1">Andhra Pradesh</mat-option>
                  <mat-option value="option2">Arunachal Pradesh</mat-option>
                  <mat-option value="option3">Assam</mat-option>
                  <mat-option value="option4">Bihar</mat-option>
                  <mat-option value="option5">Chhattisgarh</mat-option>
                  <mat-option value="option6">Goa</mat-option>
                  <mat-option value="option7">Gujarat</mat-option>
                  <mat-option value="option8">Haryana </mat-option>
                  <mat-option value="option9">Himachal Pradesh</mat-option>
                  <mat-option value="option10">Jharkhand </mat-option>
                  <mat-option value="option11">Karnataka</mat-option>
                  <mat-option value="option12">Kerala </mat-option>
                  <mat-option value="option13">Madhya Pradesh</mat-option>
                  <mat-option value="option14">Maharashtra</mat-option>
                  <mat-option value="option15">Manipur</mat-option>
                  <mat-option value="option16">Meghalaya</mat-option>
                  <mat-option value="option17">Mizoram</mat-option>
                  <mat-option value="option18">Nagaland</mat-option>
                  <mat-option value="option19">Odisha</mat-option>
                  <mat-option value="option20">Punjab</mat-option>
                  <mat-option value="option21">Rajasthan</mat-option>
                  <mat-option value="option22">Sikkim</mat-option>
                  <mat-option value="option23">Tamil Nadu</mat-option>
                  <mat-option value="option24">Telangana</mat-option>
                  <mat-option value="option25">Tripura</mat-option>
                  <mat-option value="option26">Uttar Pradesh</mat-option>
                  <mat-option value="option27">Uttarakhand</mat-option>
                  <mat-option value="option28">West Bengal</mat-option>


                </mat-select>
              </mat-form-field>

            <mat-form-field class="form-group" style="width: 30%;margin-left: 20px;">
              <mat-label>Telephone</mat-label>
              <span matPrefix style="padding-left: 10px;">+91 &nbsp;</span>
              <input type="tel" matInput placeholder="xxx-xxx-xxxx" name="contactNumber" required>
            </mat-form-field>
        
            <mat-form-field class="form-group" style="height:min-content;margin-left: 20px;width:30%">
              <mat-label>Date of Birth</mat-label>
              <input matInput [matDatepicker]="datepicker" name="datePicker" placeholder="MM/DD/YYYY" required>
              <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
              <mat-datepicker #datepicker>
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel>Cancel</button>
                  <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>
            
            <mat-form-field class="form-group" style="width: 30%;">
              <mat-label>Annual Income</mat-label>
              <input matInput type="text" name="annualIncome"required>
            </mat-form-field>
        
            <mat-form-field name="religion" style="height: fit-content;width: 30%;margin-left: 20px;" class="form-group">
                <mat-label>Religion</mat-label>
                <mat-select required>
                  <mat-option value="option1">Buddhism</mat-option>
                  <mat-option value="option2">Christianity</mat-option>
                  <mat-option value="option3">Hinduism</mat-option>
                  <mat-option value="option4">Islam</mat-option>
                  <mat-option value="option5">Jainism</mat-option>
                  <mat-option value="option6">Sikhism</mat-option>
                  <mat-option value="option7">Other</mat-option>

                </mat-select>
              </mat-form-field>

              <mat-form-field class="form-group" style="width: 30%;margin-left: 20px;">
                <mat-label>If Other, Please Specify</mat-label>
                <input matInput type="text" name="otherReligion">
              </mat-form-field>

              <mat-form-field name="orphan" style="height: fit-content;width: 30%;" class="form-group">
                <mat-label>Category</mat-label>
                <mat-select required>
                  <mat-option value="option1">SC</mat-option>
                  <mat-option value="option2">ST</mat-option>
                  <mat-option value="option2">OBC</mat-option>
                  <mat-option value="option2">Other</mat-option>

                </mat-select>
              </mat-form-field>
            
              <mat-form-field class="form-group" style="width: 30%;margin-left: 20px;">
                <mat-label>If Other, Please Specify</mat-label>
                <input matInput type="text" name="otherCategory">
              </mat-form-field>

              <mat-form-field name="hosteler" style="height: fit-content;width: 30%;margin-left: 20px;" class="form-group">
                <mat-label>Is Hosteler</mat-label>
                <mat-select required>
                  <mat-option value="option1">Yes</mat-option>
                  <mat-option value="option2">No</mat-option>
                </mat-select>
              </mat-form-field>

            <div class="form-group">
              <!-- <mat-label>Gender</mat-label>
              <input type="radio" id="female" name="gender" value="Female" >
              <label for="female" style="margin-left: 5px;">Female</label>
              <input type="radio" id="male" name="gender" value="Male"style="margin-left: 20px;">
              <label for="male" style="margin-left: 5px;">Male</label>
              <input type="radio" id="other" name="gender" value="Other"style="margin-left: 20px;">
              <label for="other" style="margin-left: 5px;">Other</label> -->
              <!-- <mat-radio-group aria-label="Gender"><mat-label>Gender</mat-label>
                <br>
                <mat-radio-button value="f">Female</mat-radio-button>
                <mat-radio-button value="m">Male</mat-radio-button>
                <mat-radio-button value="o">Other</mat-radio-button>
              </mat-radio-group> -->
             <button mat-button matStepperPrevious style="margin-left: 10px; width: 13%;">Back</button>
              <button mat-button matStepperNext name="next" style="margin-left: 5px;width: 13%;">Next</button>
              <br>
              <br>
            </div>
          </div>
          </form>
          </mat-step>
          
         <mat-step [stepControl]="thirdFormGroup" errorMessage="All fields are manditory.">
            <form [formGroup]="thirdFormGroup" style="margin-top: 50px;"> 
              <ng-template matStepLabel>Academic Information</ng-template>
         <div class="text" >
          <div class="form-container" style="justify-content: space-evenly;">
            
          <mat-form-field class="form-group" style=" height: fit-content;width: 45%;">
            <mat-label>Select Institute</mat-label>
            <mat-select required style="margin-left: 2px;">
              <mat-option value="option1">MKSSS's Cummins College Of Engineering for Women, Pune</mat-option>
            </mat-select>
          </mat-form-field>
         
          <mat-form-field class="form-group" style="margin-left: 20px;width: 45%;">
            <mat-label>Enrollment No.</mat-label>
            <input matInput type="text" name="enrollmentNo"required>
          </mat-form-field>
        
            <mat-form-field class="form-group" style="width: 45%;">
              <mat-label>Admission Year</mat-label>
              <input matInput type="text" name="admissionYear "required>
            </mat-form-field>
        
            <mat-form-field class="form-group" style="margin-left: 20px;width: 45%;">
              <mat-label>Roll No.</mat-label>
              <input matInput type="text" name="rollNo" required>
            </mat-form-field>
        
            <mat-form-field name="currentYear" style="height: fit-content;align-items: flex-start;width: 45%;" class="form-group">
              <mat-label>Current Year</mat-label>
              <mat-select required>
                <mat-option value="option1">First Year</mat-option>
                <mat-option value="option2">Second Year</mat-option>
                <mat-option value="option3">Third Year</mat-option>
                <mat-option value="option4">Final Year</mat-option>
              </mat-select>
            </mat-form-field>
        
            <mat-form-field class="form-group" style="width: 45%;margin-left: 20px;">
              <mat-label>Division (Optional)</mat-label>
              <input matInput type="text" name="division"  >
            </mat-form-field>
        
            <mat-form-field name="board10" style="height: fit-content;width: 45%;" class="form-group">
              <mat-label>10th Board</mat-label>
              <mat-select required>
                <mat-option value="option1">CBSE</mat-option>
                <mat-option value="option2">ICSE</mat-option>
                <mat-option value="option3">State Boards</mat-option>
                <mat-option value="option4">NIOS</mat-option>
              </mat-select>
            </mat-form-field>
        
            <mat-form-field class="form-group" style="margin-left: 20px;width: 45%;">
              <mat-label>10th Percentage (don't type %)</mat-label>
              <input matInput type="text" name="percentage10"  >
            </mat-form-field>
        
            <mat-form-field name="board2" style="height: fit-content;width: 45%;" class="form-group">
              <mat-label>12th / Diploma</mat-label>
              <mat-select required>
                <mat-option value="option1">12th</mat-option>
                <mat-option value="option2">Diploma</mat-option>
              </mat-select>
            </mat-form-field>
        
            <mat-form-field class="form-group" style="width: 45%;margin-left: 20px;">
              <mat-label>Board (Specify)</mat-label>
              <input matInput type="text" name="board12"  >
            </mat-form-field>
        
            <mat-form-field class="form-group" style="width: 45%;">
              <mat-label>Percentage (don't type %)</mat-label>
              <input matInput type="text" name="percentage12"  >
            </mat-form-field>
            <br>
            <button mat-button matStepperPrevious style="margin-left: 10px;">Back</button>
            <button mat-button matStepperNext name="next" style="margin-left: 10px;">Next</button>
        <br>    
        <br>  
        </div>
          </div>
        </form>
        </mat-step>

        <!--                   -->

        <mat-step [stepControl]="forthFormGroup" errorMessage="All fields are manditory.">
          <form [formGroup]="forthFormGroup" style="margin-top: 50px;">
            <ng-template matStepLabel>Extra Curricular Details</ng-template>
    
            <!-- <div class="login-container"> -->
        <div class="form-container" style="width: 80%;margin-left: 10%;">

                <!-- <mat-card class="login-card">
                  <mat-card-content> -->
                    
                    <!-- <form class="example-form"> -->

                      <mat-form-field name="activities" style="height: fit-content;width: 30%;" class="form-group">
                        <mat-label>Category</mat-label>
                        <mat-select required>
                          <mat-option value="option1">Academic Clubs</mat-option>
                          <mat-option value="option2">Arts and Creativity</mat-option>
                          <mat-option value="option3">Community Service and Volunteering</mat-option>
                          <mat-option value="option4">Cultural and Diversity Activities</mat-option>
                          <mat-option value="option5">Entrepreneurship and Innovation</mat-option>
                          <mat-option value="option6">Leadership and Clubs</mat-option>
                          <mat-option value="option7">Sports and Athletics</mat-option>
                          <mat-option value="option8">Other </mat-option>
                          </mat-select>
                          </mat-form-field>

                        <!-- </form> -->
                        <mat-form-field class="form-group" style="margin-left: 20px;width: 30%;">
                          <mat-label>Activity Name/ Organization</mat-label>
                          <input matInput type="text" name="organizationName"required >
                        </mat-form-field>
                    
                        <mat-form-field class="form-group" style="width: 30%;margin-left: 20px;">
                          <mat-label>Duration</mat-label>
                          <input matInput type="text" name="duration"required>
                        </mat-form-field>
            
                        <mat-form-field class="form-group" style="width: 30%;">
                            <mat-label>Achievements/ Awards ?</mat-label>
                            <mat-select required>
                              <mat-option value="option1">Yes</mat-option>
                              <mat-option value="option2">No</mat-option>
                            </mat-select> 
                          </mat-form-field>
            
                        <mat-form-field class="form-group" style="width: 30%;margin-left: 20px;">
                            <mat-label>Impact/ Contribution</mat-label>
                            <input matInput type="text" name="contribution"required>
                          </mat-form-field>
                    
                          <mat-form-field class="form-group" style="width: 30%;margin-left: 20px;">
                            <mat-label>Contact Information/ Reference</mat-label>
                            <input matInput type="text" name="contribution"required placeholder=" References or contact information for supervisors, mentors, or leaders">
                          </mat-form-field>
s
                <div class="form-group">
                  
                 <button mat-button matStepperPrevious style="margin-left: 10px; width: 13%;">Back</button>
                  <button mat-button matStepperNext name="next" style="margin-left: 5px;width: 13%;">Next</button>
                  <br>
                  <br>
                </div>

            </div>

        </form>
        
    </mat-step>

    
         <mat-step [stepControl]="fifthFormGroup" errorMessage="All fields are manditory.">
            <form [formGroup]="fifthFormGroup" style="margin-top: 50px;"> 
              <ng-template matStepLabel>Other Details</ng-template>
          <div>
         
            <div class="form-container" style="height:fit-content;">
               <mat-form-field name="orphan" style="height: fit-content;width: 45%;" class="form-group">
                  <mat-label>Is Orphan?</mat-label>
                  <mat-select required>
                    <mat-option value="option1">Yes</mat-option>
                    <mat-option value="option2">No</mat-option>
                  </mat-select>
                </mat-form-field>
        
                <mat-form-field class="form-group" style="width: 45%;margin-left: 20px;">
                    <mat-label>Gaurdian Name</mat-label>
                    <input matInput type="text" name="gName" >
                  </mat-form-field>

                <mat-form-field class="form-group" style="width: 45%;">
                  <mat-label>Marital Status</mat-label>
                  <input matInput type="text" name="maritalStatus" required >
                </mat-form-field>
        
                <mat-form-field name="disabled" style="height: fit-content;width: 45%;margin-left: 20px;" class="form-group">
                  <mat-label>Is Disabled??</mat-label>
                  <mat-select required>
                    <mat-option value="option1">Yes</mat-option>
                    <mat-option value="option2">No</mat-option>
                  </mat-select>
                </mat-form-field>
        
                <mat-form-field class="form-group" style="width: 45%;">
                  <mat-label>Disability Identification Type</mat-label>
                  <input matInput type="text" name="type"  placeholder="Type NA if not applicable">
                </mat-form-field>

                <mat-form-field class="form-group" style="width: 45%;margin-left: 20px;">
                    <mat-label>% of Disability</mat-label>
                    <input matInput type="text" name="percentOfDisability"  placeholder="Type NA if not applicable">
                  </mat-form-field>
                 
          <button mat-button matStepperPrevious style="margin-left: 10px;">Back</button>
          <button mat-button matStepperNext style="margin-left: 10px;">Next</button>
       <br>
       <br>
              </div>
              
        </div>   
    </form>  
         
    </mat-step>

    <mat-step [stepControl]="sixthFormGroup" errorMessage="All fields are manditory.">
      <form [formGroup]="sixthFormGroup" style="margin-top: 50px;"> 
        <ng-template matStepLabel>Preview</ng-template>

        <div class="form-container" style="width: 80%;margin-left: 10%;">

      <div>
        <button mat-button matStepperPrevious  style="margin-left: 10px;">Back</button>
        <button mat-button (click)="stepper.reset()"  style="margin-left: 10px;">Reset</button>
      </div>
  </div>
  </form>
  </mat-step>
  
  </mat-stepper>
  
  <app-footer></app-footer>