<br>
<hr>
<h2>
    How Portal Works
    </h2>
    <hr>
<div class="flow">
    <div class="step" style="width: fit content;margin-right: 50%;">
        <span class="step-number">1</span>
        <div class="step-content">
          <h3>
            Register and create your profile</h3>
            Sign up with Google/Mobile number or email id
            Verify your mobile number and email address
            Complete your profile i.e., present class, income, location, gender and other required fields
            Download Buddy4Study app to keep track of scholarships  </div>
      </div>

   
    <div class="step" style="margin-left: 50%; width: fit content;">
      <span class="step-number">2</span>
      <div class="step-content">
        <h3>
            Get notified for matching scholarships</h3>
            Based on your profile you will receive matching scholarship email/sms/whatsapp/app notifications
            Keep your profile updated to receive relevant notifications, you can unsubscribe if you don’t want to receive notifications anymore
      </div>
    </div>
    <div class="step" style="width: fit content;margin-right: 50%;">
      <span class="step-number">3</span>
      <div class="step-content">
        <h3>Apply for scholarships</h3>
        <p>Apply for scholarships with easy to fill form - most of your information will be prefilled
            Upload high-quality documents with all fields visible
            Regularly monitor your email/mobile for Buddy4Study notifications
            Respond to questions in telephonic interviews</p>
      </div>
    </div>
    <div class="step" style="margin-left: 50%; width: fit content;">
        <span class="step-number">4</span>
        <div class="step-content">
          <h3>Become a scholar</h3>
          <p>If you are selected as a scholar, you will receive notifications from Buddy4Study
            You can also check results on scholarship results page
            Upload your attested documents on Buddy4Study and provide bank information
            Receive scholarship award directly in your bank account</p>
        </div>
      </div>
  </div>
  