<form [formGroup]="firstFormGroup" (ngSubmit)="onSubmit()">
  <br><br>
  <mat-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup" errorMessage="All fields are manditory.">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Registration Details</ng-template>

        <div class="login-container">
            <mat-card class="login-card">
              <mat-card-content>
                
                <form class="example-form">
                  <!-- <mat-form-field class="example-full-width" style="width: 100%;"> -->
  <mat-form-field appearance="fill">
    <input matInput formControlName="username" placeholder="Username">
    <mat-error *ngIf="isInvalid('username') && firstFormGroup.get('username')?.errors?.['required']">Username is required</mat-error>
    <mat-error *ngIf="isInvalid('username') && firstFormGroup.get('username')?.errors?.['minlength']">Username should be at least 12 characters long</mat-error>
  </mat-form-field>
  <!-- </mat-form-field> -->
  </form>
<br><br><br>
  <mat-form-field appearance="fill">
    <input matInput formControlName="password" placeholder="Password" type="password">
    <mat-error *ngIf="isInvalid('password') && firstFormGroup.get('password')?.errors?.['required']">Password is required</mat-error>
    <mat-error *ngIf="isInvalid('password') && firstFormGroup.get('password')?.errors?.['pattern']">Password should contain at least 8 characters with 1 uppercase, 1 lowercase, 1 number, and 1 special character</mat-error>
  </mat-form-field>
  <br><br><br>
  <mat-form-field appearance="fill">
    <input matInput formControlName="confirm" placeholder="Confirm Password" type="password">
    <mat-error *ngIf="isInvalid('confirm') && firstFormGroup.get('confirm')?.errors?.['required']">Confirmation is required</mat-error>
    <mat-error *ngIf="hasPasswordMismatchError()">Passwords do not match</mat-error>
  </mat-form-field>
  <br>
  <br>
  <button mat-raised-button color="primary" type="submit">Submit</button>
<!-- </mat-form-field> -->
<!-- </form> -->
<!-- </mat-card-content> -->
</mat-card-content>
</mat-card>
</div>
</form>
</mat-step>
</mat-stepper>
</form>
