<div class="card">
    <div class="card-header">
      <!-- Header content -->
      Eligibility
    </div>
    <div class="card-body">
      <!-- Body content -->
      <h4>        <ul><li>Open for Indian students who received admission confirmation for pursuing UG/PG programme in India 
    </li>
        <li>Should be 18 years old or above on the date of application
    </li>
         <li>   Must be admitted to the desired institution after completion of the pre-requisite qualifications
</li>
 <li>           Family income should be more than ₹ 3 Lakh per annum (not necessary for loan requirement below ₹ 7.5 Lakh)
</li>
 <li>   The loan amount required should be more than ₹1 Lakh

</li>
</ul>
</h4> 
    </div>
    
  </div>
  
  <div class="card">
    <div class="card-header">
      <!-- Header content -->
      Benefits:
    </div>
    <div class="card-body">
      <!-- Body content -->
      <h4>
        <p>The candidates applying for Education Loan will receive the following benefits –
        </p>
            <ul>
                <li>Collateral-free* loan amount of up to ₹ 40 Lakh (minimum loan amount of ₹ 1 Lakh)
       </li>
            <li>        Education loan interest rates starting at 8.1% p.a.*
        </li>
             <li>   Provision for easy and fast loan sanction via seamless application process
        </li>
             <li>   Loan of upto ₹ 2 Cr available with collateral*
        </li>
             <li>   100% income tax benefit for interest paid under Section 80E of IT Act
        </li>
                The education loan amount would include the following expenses towards the course:
     </ul>
     
             <p style="font-weight: 500;">   1. College-related expenses:<br>
    <ul>
        <li>
        Tuition and fees payable to the institute
    
    </li>
    <li> 
           Examination/library/laboratory fees
    </li>
         <li> 
             Purchase of books/equipment/uniform
    </li>
         <li> 
               Living expenses (including hostel fees)
    </li>
    </ul>
              <p style="font-weight: 500;"> 2. Additional expenses:
    <br>
    <ul>
        <li>
            Travel expenses
            </li>
            <li>
                Purchase of computers/laptops
                </li>
                <li>
         
                    Overseas Insurance
                    <li>
    Cost of health insurance
    </li>
    </ul>
    <p style="font-weight: 500;">
    Note: Special consideration for students pursuing professional courses from NIRF/top educational institutions (lesser interest rate depending on course and institution, quick loan disbursal, etc.)
    </h4>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <!-- Header content -->
      Documents
    </div>
    <div class="card-body">
      <!-- Body content -->
      <h4>
        <p>The following documents must be uploaded by the applicant at the time of application - 
        </p>
        <ul>
            <li>
        Recent passport-size photograph
        </li>
        <li>
        Address proof (Aadhaar Card/Driving License/Passport/Voter ID Card/NREGA Job Card of parent/s, etc.)
        </li>
        <li>
        Admission proof (College ID card/admission letter/ bonafide letter from institute) 
        </li>
        <li>
        Fee structure document
        </li>
    </ul>
       </h4>
    </div>
  </div>
  <!-- <button mat-fab extended style="background-color: #102C57;color: white; margin-left: 80%;" (click)="toggleMenu()">
    <mat-icon style="margin-left: -10px;">arrow_right_alt</mat-icon>
    Back
</button> -->
<!-- <button mat-fab extended style="background-color: #102C57;color: white; margin-left: 80%;" (click)="goBack()">
    <mat-icon style="margin-left: -10px;">arrow_right_alt</mat-icon>
    Back
  </button> -->
  

  