<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName="username">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password">
      <div *ngIf="registrationForm?.get('password')?.hasError('passwordInvalid') && registrationForm?.get('password')?.touched">
        <!-- your error message here -->
      </div>
      
      
    </div>
    <button type="submit" [disabled]="!registrationForm.valid">Submit</button>
  </form>
  