<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<mat-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup" errorMessage="All fields are manditory." style="margin-left: 50px;" >
      <form [formGroup]="firstFormGroup" style="margin-top: 50px;" >
        <ng-template matStepLabel >Registration Details</ng-template>

        <div class="login-container">
            <mat-card class="login-card">
              <mat-card-content>
                
                <form class="example-form">
                  <mat-form-field class="example-full-width" style="width: 100%;">
                    <mat-label>Company ID/Username</mat-label>
                    <input matInput required name="username" placeholder="Username" >
                  </mat-form-field>
                </form>  

                <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <mat-label>Password</mat-label>
                      <input matInput required [type]="hide ? 'password' : 'text'" name="password" id="psw"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </mat-form-field>
                  </form>  

                  <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <mat-label>Confirm Password</mat-label>
                      <input matInput required [type]="hide2 ? 'password2' : 'text'" name="confirm" id="confirm">
                      <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                        <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </mat-form-field>
                  </form>
                <button mat-button matStepperNext name="next" style="width: 40%;margin-left: 30%;">Next</button>
                </mat-card-content>
            </mat-card>
        </div>
    </form>
    
</mat-step>

    <mat-step [stepControl]="secondFormGroup" errorMessage="All fields are manditory.">
      <form [formGroup]="secondFormGroup" style="margin-top: 50px;"> 
        <ng-template matStepLabel>General Information</ng-template>

        <div class="form-container" style="width: 80%;margin-left: 10%;">
           
            <mat-form-field class="form-group" style="width: 30%;">
              <mat-label>Company Name</mat-label>
              <input matInput type="text" name="name"required >
            </mat-form-field>
        
            <mat-form-field class="form-group" style="margin-left: 20px;width: 30%;">
              <mat-label>Address</mat-label>
              <input matInput type="text" name="address"required >
            </mat-form-field>
        
            <mat-form-field class="form-group" style="margin-left: 20px;width: 30%;">
              <mat-label>Companies Official Email</mat-label>
              <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. abcd@example.com" name="email">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                <!-- Email is <strong>required</strong> -->
              </mat-error>
            </mat-form-field>
            
            <mat-form-field class="form-group" style="width: 30%;">
              <mat-label>Telephone</mat-label>
              <span matPrefix style="padding-left: 10px;"></span>
              <input type="tel" matInput placeholder="xxx-xxx-xxxx" name="contactNumber" required>
            </mat-form-field>
            
            <mat-form-field class="form-group" style="width: 30%;margin-left: 20px;">
              <mat-label>Contact Person Name</mat-label>
              <input matInput type="text" name="individualName"required >
            </mat-form-field>

            <mat-form-field class="form-group" style="width: 30%;margin-left: 20px;">
              <mat-label>Contact Person Telephone</mat-label>
              <span matPrefix style="padding-left: 10px;">+91 &nbsp;</span>
              <input type="tel" matInput placeholder="xxx-xxx-xxxx" name="individualContactNumber" required>
            </mat-form-field>
        
            <mat-form-field class="form-group" style="width: 30%;">
              <mat-label>Contact Person's Email</mat-label>
              <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. abcd@example.com" name="email">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                <!-- Email is <strong>required</strong> -->
              </mat-error>
            </mat-form-field>
        
            

            <mat-form-field class="form-group" style="margin-left: 20px;width: 30%;">
              <mat-label>Company's website URL</mat-label>
              <input matInput type="text" name="url"required>
            </mat-form-field>

            <mat-form-field class="form-group" style="width: 30%;margin-left: 20px;height:fit-content;">
              <mat-label>Expectations from students <br> after receiving Scholarship</mat-label>
              <textarea matInput placeholder="Ex. CGPA/ Percentage should be 80% / 8CGPA or above"></textarea>
            </mat-form-field>

            <!-- <mat-form-field name="domacile" style="height: fit-content;width: 30%;" class="form-group">
                <mat-label>Location/Head Quarter</mat-label>
                <mat-select required>
                  <mat-option value="option1">Andhra Pradesh</mat-option>
                  <mat-option value="option2">Arunachal Pradesh</mat-option>
                  <mat-option value="option3">Assam</mat-option>
                  <mat-option value="option4">Bihar</mat-option>
                  <mat-option value="option5">Chhattisgarh</mat-option>
                  <mat-option value="option6">Goa</mat-option>
                  <mat-option value="option7">Gujarat</mat-option>
                  <mat-option value="option8">Haryana </mat-option>
                  <mat-option value="option9">Himachal Pradesh</mat-option>
                  <mat-option value="option10">Jharkhand </mat-option>
                  <mat-option value="option11">Karnataka</mat-option>
                  <mat-option value="option12">Kerala </mat-option>
                  <mat-option value="option13">Madhya Pradesh</mat-option>
                  <mat-option value="option14">Maharashtra</mat-option>
                  <mat-option value="option15">Manipur</mat-option>
                  <mat-option value="option16">Meghalaya</mat-option>
                  <mat-option value="option17">Mizoram</mat-option>
                  <mat-option value="option18">Nagaland</mat-option>
                  <mat-option value="option19">Odisha</mat-option>
                  <mat-option value="option20">Punjab</mat-option>
                  <mat-option value="option21">Rajasthan</mat-option>
                  <mat-option value="option22">Sikkim</mat-option>
                  <mat-option value="option23">Tamil Nadu</mat-option>
                  <mat-option value="option24">Telangana</mat-option>
                  <mat-option value="option25">Tripura</mat-option>
                  <mat-option value="option26">Uttar Pradesh</mat-option>
                  <mat-option value="option27">Uttarakhand</mat-option>
                  <mat-option value="option28">West Bengal</mat-option>


                </mat-select>
              </mat-form-field> -->

            <!-- <mat-form-field class="form-group" style="width: 30%;margin-left: 20px;">
              <mat-label>Telephone</mat-label>
              <span matPrefix style="padding-left: 10px;">+91 &nbsp;</span>
              <input type="tel" matInput placeholder="xxx-xxx-xxxx" name="contactNumber" required>
            </mat-form-field>
        
             -->

             
             <button mat-button matStepperPrevious style="margin-left: 10px; width: 13%;">Back</button>
              <button mat-button matStepperNext name="next" style="margin-left: 5px;width: 13%;">Next</button>
              <br>
              <br>
            </div>
          
          </form>
          </mat-step>
          
         <!-- <mat-step [stepControl]="thirdFormGroup" errorMessage="All fields are manditory.">
            <form [formGroup]="thirdFormGroup"> 
              <ng-template matStepLabel></ng-template>
         <div class="text" >
          <div class="form-container" style="justify-content: space-evenly;">
           
            <button mat-button matStepperPrevious style="margin-left: 10px;">Back</button>
            <button mat-button matStepperNext name="next" style="margin-left: 10px;">Next</button>
        <br>    
        <br>  
        </div>
          </div>
        </form>
        </mat-step>

         <mat-step [stepControl]="thirdFormGroup" errorMessage="All fields are manditory.">
            <form [formGroup]="forthFormGroup"> 
              <ng-template matStepLabel>Other Details</ng-template>
          <div>
         
            <div class="form-container" style="height:fit-content;">
               
              
          <button mat-button matStepperPrevious style="margin-left: 10px;">Back</button>
          <button mat-button matStepperNext style="margin-left: 10px;">Next</button>
       <br>
       <br>
              </div>
              
        </div>   
    </form>  
         
    </mat-step> -->
    <mat-step>
      <ng-template matStepLabel>Review</ng-template>
      <p>Preview.</p>
      <div>
        <button mat-button matStepperPrevious  style="margin-left: 10px;">Back</button>
        <button mat-button (click)="stepper.reset()"  style="margin-left: 10px;">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
  
  <app-footer>