<div class="backgroundDiv">
<div>
    <button class="scroll-to-top" (click)="scrollToTop()" [ngClass]="{'show': showScrollButton}">
      <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
    <hr>
  <div>
    
    <div class="advertise">
      <br><br>
      <h2>Space for Scholarship Advertisement</h2>
      <br><br>
      <br>
      </div>
      <hr>
    <div class="container2">
      <div class="row justify-content-center" style="height:40%;">
        <div class="col-md-5">
          <div class="card">
            <div class="card-body" >
              <h3 class="card-title text-center my-2">NOTICE BOARD</h3>
              <hr>

              <marquee behavior="scroll" direction="up" scrollamount="1" height="50">
                Mahabt forms are open
                <br><br>
                Post-Matrics scholarship forms are open
                <br><br>
                Deadline for Mahadbt is 30th Nov 2023
                <br><br>
                Scholarships are open oN NSP 
                <br><br>
                Swadhar Scholarship forms will be opening soon
                <br><br>
              </marquee>
              
              
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card" style="margin-right: 300px;height:100%">
            <div class="card-body" >
              <h3 class="card-title text-center my-2">SEARCH SCHOLARSHIPS</h3> 
              <hr>
             </div>
          </div>
        </div>

        <div class="col-md-7">
          <div class="card" style="height:80%">
            <div class="card-body" >
              <h3 class="card-title text-center my-2">IMPORTANT LINKS</h3> 
              <hr>
             </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- <img src="assets/schimg3.jpg" alt="Image Description" class="img-thumbnail" fill style="margin-left: 30%; height:30%;width:68%"> -->
    <!-- <img src="assets/edu3.jpg" alt="Image Description" class="img-thumbnail" fill style="margin-left: 50px; height:200px;">
    <img src="assets/edu2.png" alt="Image Description" class="img-thumbnail" fill style="margin-left: 50px; height:200px;">
    <img src="assets/edu.jpg" alt="Image Description" class="img-thumbnail" fill style="margin-left: 50px; height:200px;">
    <img src="assets/edu3.png" alt="Image Description" class="img-thumbnail" fill style="margin-left: 50px; height:200px;">
    <img src="assets/images.png" alt="Image Description" class="img-thumbnail" fill style="margin-left: 50px; height:200px;">
    <img src="assets/scholarship.jpeg" alt="Image Description" class="img-thumbnail" fill style="margin-left: 50px; height:200px;"> -->

  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div id="applicantLogin">
   
  <br>
  <br>
  <br>
  <br>
   </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  <div id="registerApplicant">
    <br>
  <br>
  <br>
  <br>
   </div>
  </div>
  <br>
  <br>
  <div class="abts">
    <br>
  <div id="aboutUs2" class="aboutUs2 abt" ><h1 style="background-color: #102C57;">ABOUT US</h1></div>

    <div class="abt-text">
      <p>
          At our scholarship portal, we are on a mission to simplify the scholarship application process and make it more accessible for students from all walks of life. Our goal is to bridge the gap between deserving students and the life-changing opportunities that scholarships provide. We are dedicated to creating awareness and empowering students by sending timely alerts and notifications about available scholarships. We believe that every student deserves a chance to pursue their dreams, and we are here to help them navigate the path to higher education with ease.
      </p>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title text-center my-2">STUDENTS</h3>
              <hr>
              <p class="card-text my-2">We understand the frustration that comes with missing out on opportunities simply because they went unnoticed. Our platform provides a notification feature that does the hard work for you. Whenever a scholarship you qualify for is posted, we'll send you an alert. We're committed to simplifying the scholarship hunt, making sure you never miss a chance to fund your education and achieve your dreams</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title text-center my-2">SCHOLARSHIP PROVIDER</h3>
              <hr>
              <p class="card-text my-2">We are delighted to offer a set of new features. Scholarship providers can now conveniently register and post their scholarships on a single portal and access the list of applicants with a single click. Moreover, we've simplified the student verification process by coordinating with their colleges, ensuring a worry-free experience. Everything you need is at your fingertips on one user-friendly page, courtesy of our platform.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    

  <br>
  <br>
</div>
<app-footer></app-footer>
</div>
  
      <br>